@import "./fonts.css";
@import "prismjs/themes/prism-okaidia.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient-angle: -5deg;
}

p,
span,
li,
ol,
ul,
i,
blockquote,
h1,
h2,
h3,
h4,
h5 {
  @apply tracking-tight text-gray-700;
  font-family: "Public Sans", sans-serif;
}

.gradient-text {
  padding-bottom: 1rem;
  transition: background 0.15s ease-in-out;
  background: linear-gradient(
    var(--gradient-angle),
    theme("colors.gray.500") 50%,
    theme("colors.gray.800") 50%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  a {
    @apply bg-purple-400;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding: 1px;

    &:hover {
      @apply bg-purple-500;
    }
  }
}

.nav input {
  &:checked {
    & ~ .nav-menu-wrapper .nav-menu-items {
      @apply visible opacity-100;

      ul {
        @apply translate-x-0;
      }
    }

    & ~ .nav-menu-wrapper .nav-menu-label .menu-bar {
      @apply bg-white;

      &-1 {
        transform: translate3d(0, 1rem, 0) rotate(-45deg);
      }

      &-2 {
        opacity: 0;
      }

      &-3 {
        transform: translate3d(0, -1rem, 0) rotate(45deg);
      }
    }
  }
}

.remark-highlight * {
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
}

svg {
  max-width: 100%;
  max-height: 100%;
}

.icon {
  path {
    @apply transition-all;
    fill: theme("colors.gray.800");
  }

  &:hover {
    path {
      fill: theme("colors.purple.500");
    }
  }
}

form {
  input,
  textarea {
    @apply w-full rounded-sm border border-gray-300 px-2 py-2 text-base;
  }

  label {
    @apply mb-2 inline-block;
  }

  .password-wrapper {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
}

.divider {
  @apply border-0 bg-gray-300 w-full max-w-xl mx-auto;
  height: 1px;

  &.divider--wide {
    @apply max-w-5xl;
  }
}

.token.parameter {
  @apply text-white;
}
